
.register-container {
    padding: 0px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: whitesmoke;
  }
  
  .register-background{
    background-image: url('../assets/2149038356 (1).jpg');
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center; 
  }

  h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .form {
    display: flex;
    flex-direction: column;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    font-weight: bold;

  }
  
  input {
    
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  

  
  .error {
    color: red;
    margin-top: 10px;
  }
  